<h1 class="col-12 text-center"> Customer details </h1>
  <div class="row justify-content-center">
    <div class="card m-3 col-12" >
      <div class="card-body">
        <h5 class="card-title"><%= @customer.first_name %> <%= @customer.last_name %></h5>
        <h5 class="card-text"><%= @customer.email %></h5>
          <%= link_to "Edit customer details", edit_customer_path(@customer), class: "btn btn-info btn-primary" %>
      </div>
    </div>
  </div>

  <% if @customer.accounts.any? %>
    <% @customer.accounts.each do |acc| %>
      <div class="row justify-content-center">
      <div class="card m-3 col-12" >
        <div class="card-body">
          <p>Account name:<h5 class="card-title"><%= acc.account_name %></h5></p>
          <p>Balance:<h5 class="card-text"><%= acc.account_balance %></h5></p>
          <div class="row bg-primary">
          <div class="btn btn-success col-6"<p>Make a payment</p></div>
          <%= link_to "Close account", account_path(acc), method: :delete, data: {confirm: "Are you sure?"},  class: "btn btn-danger col-6" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
      <%= link_to "Open an account", new_account_path, class: "btn btn-info btn-primary" %>
  <% end %>
